src/main/resources/xsd/facturas.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="facturas">
            <oneOrMore>
                <element name="factura">
                    <element name="nombre">
                        <data type="NCName"/>
                    </element>
                    <element name="importe">
                        <data type="integer"/>
                    </element>
                </element>
            </oneOrMore>
        </element>
    </start>
</grammar>
